<h1>Upload PDF Files</h1>

<%= form_with model: @user, url: save_pdf_user_path, method: :post, local: true, multipart: true do |f| %>
  <%= f.file_field :pdf %>
  <%= f.submit "Upload PDF" %>
<% end %>
